{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Contact Information</h1>

  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Feel free to contact us if you have any question! <br> Our agents are available from Monday to Friday between 09:00 - 18:00</h6>
  </div>

  <p></p>

  <div class="card-body">
    <h4>For General Enquiries</h4>
    <p>Tel: 374 4733 9234 <br> Fax: 384 3984 2749 <br> Email: careerdashboard@help.com </p>
    <h4>For Technical Problems</h4>
    <p>Tel: 555 4733 9234 <br> Email: careerdashboardtechnical@help.com</p>

    
  </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

{% endblock %}