{% extends "base.html" %} {% block title %}Sample{% endblock %} 
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Basic Category</h5>
              <p class="card-text">Employee can only view jobs but cannot apply. No charge</p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Prime Category</h5>
              <p class="card-text"> Employee can view jobs as well as apply for up to five jobs. A
                monthly charge of $10 will be applied</p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Gold category</h5>
              <p class="card-text">Employee can view and apply to as many jobs as he/she wants. A
                monthly charge of $20 will be applied.</p>
              <a href="#" class="btn btn-primary">Select</a>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

{% endblock %}
